{% extends 'mainTemplate.html' %}
{% load static %}
{% load extras %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/feedback">Feedback</a></li>
<li>Reject Feedback</li>
{% endblock %}

{% block body %}
<section id="contact" class="contact">
    <div class="container">
        <div class="row m-3 pt-3">
            <h3>Reject Feedback for {{ feedback.controller.full_name }}</h3>
        </div>

        <div class="row m-3">
            <p><strong>{{ feedback.service_level|feedback }}:</strong> {{ feedback.additional_comments }}</p>
        </div>

        <div class="row m-3" style="width:100%">
            <form action="/feedback/reject/{{ feedback.id }}" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            {{ form }}
            <div class="text-center pt-3">
                <button type="submit" value="Reject">Reject</button>
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}