{% extends 'mainTemplate.html' %}
{% load static %}
{% load extras %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/profile/{{ request.user_obj.cid }}">Profile</a></li>
<li>Edit Profile</li>
{% endblock %}

{% block body %}
<section id="contact" class="contact">
    <div class="container">
        <div class="row m-3 pt-3">
            <h3>Edit Profile</h3>
        </div>
        <div class="row m-3">
            <form action="/profile/edit/{{ request.user_obj.cid }}" enctype="multipart/form-data" method="post" role="form" class="php-email-form">
                {% csrf_token %}
                {{ form }}
                <div class="text-center pt-3">
                    <button type="submit" value="Save">Save</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}