{% extends 'mainTemplate.html' %}
{% load static %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li>Roster</li>
{% endblock %}

{% block body %}
<section id="about" class="about">
  <div class="container">
    <div class="row m-3 pt-3">
        <div class="col">
            <h3>Roster</h3>
        </div>
        <div class="col" style="text-align:right">
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    Sort: {{ current_sort }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/roster?sort=first_name">First Name</a>
                    <a class="dropdown-item" href="/roster?sort=last_name">Last Name</a>
                    <a class="dropdown-item" href="/roster?sort=rating">Rating</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <td style="background-color:white; color:black; text-align:center"><i class="icofont-ui-close"></i> Not Certified</td>
            <td style="background-color:#ffff44; color:darkgoldenrod; text-align:center"><i class="icofont-ui-check"></i> Simple/Solo</td>
            <td style="background-color:lightgreen; color:darkgreen; text-align:center"><i class="icofont-ui-check"></i> Advanced/Certified</td>
          </tr>
        </thead>
      </table>
    </div>

    <div class="row m-3">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" style="width:5%"></th>
            <th scope="col">Name</th>
            <th scope="col" style="width:10%">Rating</th>
            <th scope="col" style="width:10%; text-align:center">DEL</th>
            <th scope="col" style="width:10%; text-align:center">GND</th>
            <th scope="col" style="width:10%; text-align:center">TWR</th>
            <th scope="col" style="width:10%; text-align:center">APP</th>
            <th scope="col" style="width:10%; text-align:center">CTR</th>
          </tr>
          {% for cont in roster %}
          <tr>
            <td>{{ cont.oper_init }}</td>
            <td>
            {% if request.user_obj.is_staff %}
            <a href="/profile/{{ cont.cid }}">{{ cont.first_name }} {{ cont.last_name }}</a>
            {% else %}
            {{ cont.first_name }} {{ cont.last_name }}
            {% endif %}
              {% if cont.staff_role %}
                &nbsp;<span class="badge badge-primary badge-pill">{{ cont.staff_role }}</span>
              {% endif %}
              {% if cont.assistant_staff_role %}
                 <span class="badge badge-primary badge-pill">{{ cont.assistant_staff_role }}</span>
              {% endif %}
              {% if cont.training_role %}
                &nbsp;<span class="badge badge-secondary badge-pill">{{ cont.training_role }}</span>
              {% endif %}
            </td>
            <td>{{ cont.rating }}</td>
          <!--DEL-->
            {% if cont.del_cert == 102 %}
                <td style="background-color:lightgreen; color:darkgreen; text-align:center"><i class="icofont-ui-check"></i></td>
            {% else %}
                <td style="background-color:white; color:black; text-align:center"><i class="icofont-ui-close"></i></td>
            {% endif %}
          <!--GND-->
            {% if cont.gnd_cert == 102 %}
                <td style="background-color:lightgreen; color:darkgreen; text-align:center"><i class="icofont-ui-check"></i></td>
            {% elif cont.gnd_cert == 101 %}
                <td style="background-color:#ffff44; color:darkgoldenrod; text-align:center"><i class="icofont-ui-check"></i></td>
            {% else %}
                <td style="background-color:white; color:black; text-align:center"><i class="icofont-ui-close"></i></td>
            {% endif %}
          <!--TWR-->
            {% if cont.twr_cert == 102 %}
                <td style="background-color:lightgreen; color:darkgreen; text-align:center"><i class="icofont-ui-check"></i></td>
            {% elif cont.twr_cert == 101 %}
                <td style="background-color:#ffff44; color:darkgoldenrod; text-align:center"><i class="icofont-ui-check"></i></td>
            {% else %}
                <td style="background-color:white; color:black; text-align:center"><i class="icofont-ui-close"></i></td>
            {% endif %}
          <!--APP-->
            {% if cont.app_cert == 102 %}
                <td style="background-color:lightgreen; color:darkgreen; text-align:center"><i class="icofont-ui-check"></i></td>
            {% elif cont.app_cert == 101 %}
                <td style="background-color:#ffff44; color:darkgoldenrod; text-align:center"><i class="icofont-ui-check"></i></td>
            {% else %}
                <td style="background-color:white; color:black; text-align:center"><i class="icofont-ui-close"></i></td>
            {% endif %}
          <!--CTR-->
            {% if cont.ctr_cert == 102 %}
                <td style="background-color:lightgreen; color:darkgreen; text-align:center"><i class="icofont-ui-check"></i></td>
            {% else %}
                <td style="background-color:white; color:black; text-align:center"><i class="icofont-ui-close"></i></td>
            {% endif %}
          </tr>
          {% endfor %}
        </thead>
      </table>
    </div>
  </div>
</section>
{% endblock %}
