{% extends 'mainTemplate.html' %}
{% load static %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li>Roster</li>
{% endblock %}

{% block body %}
<section id="about" class="about">
  <div class="container">
    <div class="row m-3 pt-3">
        <div class="col">
            <h3>Home Controllers</h3>
        </div>
        <div class="col" style="text-align:right">
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    Sort: {{ current_sort }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/roster?sort=first_name">First Name</a>
                    <a class="dropdown-item" href="/roster?sort=last_name">Last Name</a>
                    <a class="dropdown-item" href="/roster?sort=rating">Rating</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" style="width:5%"></th>
            <th scope="col">Name</th>
            <th scope="col" style="width:10%">Rating</th>
            <th scope="col" style="width:10%">DEL</th>
            <th scope="col" style="width:10%">GND</th>
            <th scope="col" style="width:10%">TWR</th>
            <th scope="col" style="width:10%">APP</th>
            <th scope="col" style="width:10%">CTR</th>
          </tr>
          {% for cont in home_roster %}
          <tr>
            <td>{{ cont.oper_init }}</td>
            <td>
            {% if request.user_obj.is_staff %}
            <a href="/profile/{{ cont.cid }}">{{ cont.first_name }} {{ cont.last_name }}</a>
            {% else %}
            {{ cont.first_name }} {{ cont.last_name }}
            {% endif %}
              {% if cont.staff_role %}
                &nbsp;<span class="badge badge-primary badge-pill">{{ cont.staff_role }}</span>
              {% endif %}
              {% if cont.training_role %}
                &nbsp;<span class="badge badge-secondary badge-pill">{{ cont.training_role }}</span>
              {% endif %}
            </td>
            <td>{{ cont.rating }}</td>
          <!--DEL-->
            {% if cont.del_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.del_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.del_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--GND-->
            {% if cont.gnd_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.gnd_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.gnd_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--TWR-->
            {% if cont.twr_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.twr_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.twr_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--APP-->
            {% if cont.app_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.app_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.app_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--CTR-->
            {% if cont.ctr_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.ctr_cert == 2 %}
                <td bgcolor="#00ff7f">Full</td>
            {% elif cont.ctr_cert == 1 %}
                <!-- There's no such thing as a minor Center cert! -->
                <td bgcolor="white">None</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          </tr>
          {% endfor %}
        </thead>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="row m-3 pt-3">
        <div class="col">
            <h3>Visiting Controllers</h3>
        </div>
        {% if request.user_obj.is_staff %}
        <div class="col">
            <form action="/visit-request/manual-add/" method="post" role="form" class="php-email-form">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group">
                        {{ visitor_form.cid }}
                        <div class="validate">{{ visitor_form.cid.errors }}</div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" value="Manual Add"><i class="icofont-check"></i>&nbsp;Manual Add</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>

    <div class="row m-3">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" style="width:5%"></th>
            <th scope="col">Name</th>
            <th scope="col" style="width:10%">Home Facility</th>
            <th scope="col" style="width:10%">Rating</th>
            <th scope="col" style="width:10%">DEL</th>
            <th scope="col" style="width:10%">GND</th>
            <th scope="col" style="width:10%">TWR</th>
            <th scope="col" style="width:10%">APP</th>
            <th scope="col" style="width:10%">CTR</th>
          </tr>
          {% for cont in visit_roster %}
          <tr>
            <td>{{ cont.oper_init }}</td>
            <td>
            {% if request.user_obj.is_staff %}
            <a href="/profile/{{ cont.cid }}">{{ cont.first_name }} {{ cont.last_name }}</a>
            {% else %}
            {{ cont.first_name }} {{ cont.last_name }}
            {% endif %}
              {% if cont.staff_role %}
                &nbsp;<span class="badge badge-primary badge-pill">{{ cont.staff_role }}</span>
              {% endif %}
              {% if cont.training_role %}
                &nbsp;<span class="badge badge-secondary badge-pill">{{ cont.training_role }}</span>
              {% endif %}
            </td>
            <td>{{ cont.home_facility }}</td>
            <td>{{ cont.rating }}</td>
            <!--DEL-->
            {% if cont.del_cert == 3 %}
                <td bgcolor="#eee8aa">Solo</td>
            {% elif cont.del_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.del_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--GND-->
            {% if cont.gnd_cert == 3 %}
                <td bgcolor="#eee8aa">Solo</td>
            {% elif cont.gnd_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.gnd_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--TWR-->
            {% if cont.twr_cert == 3 %}
                <td bgcolor="#eee8aa">Solo</td>
            {% elif cont.twr_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.twr_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--APP-->
            {% if cont.app_cert == 3 %}
                <td bgcolor="#eee8aa">Solo</td>
            {% elif cont.app_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.app_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--CTR-->
            {% if cont.ctr_cert == 3 %}
                <td bgcolor="#eee8aa">Solo</td>
            {% elif cont.ctr_cert == 2 %}
                <td bgcolor="#00ff7f">Full</td>
            {% elif cont.ctr_cert == 1 %}
                <!-- There's no such thing as a minor Center cert! -->
                <td bgcolor="white">None</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          </tr>
          {% endfor %}
        </thead>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="row m-3 pt-3">
        <div class="col">
            <h3>Mutual Automatic Visiting Controllers</h3>
        </div>
        {% if request.user_obj.is_staff %}
        <div class="col" style="text-align:right">
            <h3><a href="/mavp">Manage MAVPs</a></h3>
        </div>
        {% endif %}
    </div>

    <div class="row m-3">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" style="width:5%"></th>
            <th scope="col">Name</th>
            <th scope="col" style="width:10%">Home Facility</th>
            <th scope="col" style="width:10%">Rating</th>
            <th scope="col" style="width:10%">DEL</th>
            <th scope="col" style="width:10%">GND</th>
            <th scope="col" style="width:10%">TWR</th>
            <th scope="col" style="width:10%">APP</th>
            <th scope="col" style="width:10%">CTR</th>
          </tr>
          {% for cont in mavp_roster %}
          <tr>
            <td>{{ cont.oper_init }}</td>
            <td>
            {% if request.user_obj.is_staff %}
            <a href="/profile/{{ cont.cid }}">{{ cont.first_name }} {{ cont.last_name }}</a>
            {% else %}
            {{ cont.first_name }} {{ cont.last_name }}
            {% endif %}
              {% if cont.staff_role %}
                &nbsp;<span class="badge badge-primary badge-pill">{{ cont.staff_role }}</span>
              {% endif %}
              {% if cont.training_role %}
                &nbsp;<span class="badge badge-secondary badge-pill">{{ cont.training_role }}</span>
              {% endif %}
            </td>
            <td>{{ cont.home_facility }}</td>
            <td>{{ cont.rating }}</td>
            <!--DEL-->
            {% if cont.del_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.del_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.del_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--GND-->
            {% if cont.gnd_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.gnd_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.gnd_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--TWR-->
            {% if cont.twr_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.twr_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.twr_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--APP-->
            {% if cont.app_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.app_cert == 2 %}
                <td bgcolor="#00ff7f">Major</td>
            {% elif cont.app_cert == 1 %}
                <td bgcolor="#87cefa">Minor</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          <!--CTR-->
            {% if cont.ctr_cert == 3 %}
                <td bgcolor="#ffff66">Solo</td>
            {% elif cont.ctr_cert == 2 %}
                <td bgcolor="#00ff7f">Full</td>
            {% elif cont.ctr_cert == 1 %}
                <!-- There's no such thing as a minor Center cert! -->
                <td bgcolor="white">None</td>
            {% else %}
                <td bgcolor="white">None</td>
            {% endif %}
          </tr>
          {% endfor %}
        </thead>
      </table>
    </div>
  </div>
</section>
{% endblock %}
