{% extends 'hostit/mainTemplate.html' %}

{% block body %}
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <h1>ZID ARTCC Privacy Policy</h1>
        </div>
        <div class="row">
            <p><i>Last Updated 26 December 2022</i></p>
        </div>
        <div class="row">
            <h4>Information We Collect</h4>
        </div>
        <div class="row">
            <p>To help enhance the Virtual Indianapolis ARTCC ("ZID") experience, we collect information across a series of products and services all to enhance the end user's experience. We collect information in the following ways:</p>
        </div>
        <div class="row mx-3">
            <ul>
                <li><strong>Information you give us.</strong> When you register an account with VATSIM and transfer to ZID, login to the ZID service, take a quiz, use our Computer Based Training (CBT) system, or participate in the forums, information that is generally considered personal is given to us from you and VATSIM to include, but is not limited to: your name and email address.</li>
                <li><strong>Information we get from you.</strong> Some other information is passed by your computer or electronic device, web browser, and VATSIM client. Information can include: your IP address, web browser type and version, device specific information (such as operating system, unique device identifiers and mobile network information). This information may be linked to your account.</li>
                <li><strong>Log Information.</strong> Each time you perform an action on ZID services, your action is logged. Information logged can include: type of action, data being sent and received, IP address the request originated from, software used to make the request, identification cookies, and the results of the request.</li>
                <li><strong>Location Information.</strong> Your location information may be associated with each request through geolocation against the originating IP address, information given to us by you or given to us by you through VATSIM.</li>
                <li><strong>Storage Location.</strong> Data is stored and encrypted on services owned or leased by ZID within the United States.</li>
            </ul>
        </div>

        <div class="row">
            <h4>Information Usage</h4><br/>
        </div>
        <div class="row">
            <p>To help enhance the ZID experience, we collect information across a series of products and services all to enhance the user experience. We use the information collected to provide, maintain, protect and improve our services. The information we collect is maintained with confidentiality to the extent possible. The following information is shared with ZID associated facilities:</p>
        </div>
        <div class="row mx-3">
            <ul>
                <li>VATSIM CERT Identification Number (CID)</li>
                <li>Your name</li>
                <li>Your VATSIM achievements and ratings</li>
                <li>Your VATSIM associated email address</li>
                <li>ZID facility associations, VATSIM region and division associations</li>
                <li>ZID staff associations and ZID staff email addresses</li>
            </ul>
        </div>
        <div class="row">
            <p>The following information may be shared publicly:</p>
        </div>
        <div class="row mx-3">
            <ul>
                <li>VATSIM CERT Identification Number (CID)</li>
                <li>Your name</li>
                <li>ZID staff associations and ZID staff email addresses</li>
                <li>ZID facility associations, VATSIM region and division associations</li>
                <li>VATSIM achievements and ratings</li>
            </ul>
        </div>
        <div class="row">
            <p>The following information is collected and may be used to protect our services, up to and including cooperation with legal requests for information from Law Enforcement agencies:</p>
        </div>
        <div class="row mx-3">
            <ul>
                <li>The above listed public information</li>
                <li>All IP addresses used and associated with your account</li>
                <li>Geolocation against aforementioned IP addresses</li>
                <li>Activities performed with the ZID web services</li>
            </ul>
        </div>
        <div class="row">
            <p>We may store identification tokens and other limited information on your electronic device through web storage or cookie usage.</p>
        </div>

        <div class="row">
            <h4>Who We Share With</h4>
        </div>
        <div class="row">
            <p>The information we collect may be shared, in limited capacities, with the following:</p>
        </div>
        <div class="row mx-3">
            <ul>
                <li>Virtual Air Traffic Simulation Network (<a href="https://www.vatsim.net">www.vatsim.net</a>)</li>
                <li>VATUSA (<a href="https://www.vatusa.net">www.vatusa.net</a>)</li>
                <li>Other ZID partners</li>
                <li>Law enforcement agencies</li>
            </ul>
        </div>
        <div class="row">
            <p>For more information on what is shared with whom, please see "Information Usage".</p>
        </div>

        <div class="row">
            <h4>Cookie Usage</h4>
        </div>
        <div class="row">
            <p>We use various technologies to collect and store information when you visit and use a ZID service. This may include a cookie or other similar technologies to identify your browser or device.</p>
        </div>
        <div class="row">
            <p>Our cookies are mainly used as a means of tracking virtual users across the ZID domain. This allows us to know who is requesting and using our services, provide authentication and authorization checks to restricted areas.</p>
        </div>
        <div class="row">
            <p>You may choose to disable cookie usage via your browser, but know that doing so will prevent access and use across restricted areas of the website and severely degrade your experience.</p>
        </div>

        <div class="row">
            <h4>Opt Out</h4>
        </div>
        <div class="row">
            <p>Given the nature of our services, it is not possible to opt out of data collection and use our services. But if you desire to opt out and no longer desire to use our services, we will purge all information we have collected upon written request.</p>
        </div>
        <div class="row">
            <p>The first step is to deactivate and request VATSIM to purge your data. Please head to <a href="https://membership.vatsim.net">membership.vatsim.net</a> to do so.</p>
        </div>
        <div class="row">
            <p>After VATSIM has purged your data, please send a written request to ZID's Air Traffic Manager by emailing <a href="mailto:atm@zidartcc.org">atm@zidartcc.org</a>. It is a manual process, so please allow up to 30 days for information to be purged. You will receive an email response once the data has been purged.</p>
        </div>
        <div class="row">
            <p>Note that ZID cannot guarantee that information collected by parties outside of ZID will be purged in the process.</p>
        </div>
    </div>
</section>
{% endblock %}