# If production environment, set to "prod". Otherwise any string will work.
ENVIRONMENT = local

WEBSITE_DOMAIN = "artcc.com"
# CIDR range of server. Only applicable if your service runs health check on the instance.
# If this is not applicable, leave the line commented out.
# ALLOWED_CIDR = "10.0.0.0/16"

# Generate a random Django secret key and enter it here
SECRET_KEY = "abc123"

# PostgreSQL database credentials
DB_HOST = "127.0.0.1"
DB_PORT = 5432
DB_NAME = "name"
DB_USER = "username"
DB_PASS = "password"

# Email (SMTP) host credentials
EMAIL_HOST = "example.com"
EMAIL_PORT = 465
EMAIL_USER = "username"
EMAIL_PASS = "password"

EMAIL_USE_TLS = False

# VATUSA API
VATUSA_API_URL = "https://api.vatusa.net/v2"
API_KEY = "abc123"

# VATSIM SSO
VATSIM_AUTH_URL = "https://auth.vatsim.net/oauth/authorize"
VATSIM_TOKEN_URL = "https://auth.vatsim.net/oauth/token"
VATSIM_USER_URL = "https://auth.vatsim.net/api/user"
VATSIM_CLIENT_ID = "1"
VATSIM_CLIENT_SECRET = "abc123"
VATSIM_REDIRECT_URI = "example.com/login"
VATSIM_SCOPE = "full_name vatsim_details email country"

# Add all controlled (i.e., towered) fields in your ARTCC here.
# If your CTR/FSS positions use a prefix that does not align with one of your airport codes
# e.g. CHI_CTR, add that prefix to this list as well.
CONTROLLED_FIELDS = "['CVG', 'CMH', 'CRW', 'DAY', 'EVV', 'IND', 'LEX', 'SDF', 'AID', 'BAK', 'BMG', 'FFO', 'FTK', 'HTS', 'HUF', 'ILN', 'LCK', 'LOU', 'LUK', 'MIE', 'OSU', 'OWB', 'PKB', 'TZR']"

# Controller activity requirements (hours)
HOME_ACTIVITY_REQUIREMENT = 2
VISITOR_ACTIVITY_REQUIREMENT = 1
