[MAIN]
ignore=
    migrations
ignore-paths=
    .github/,
    .pytest_cache/,
    log/,
    static/,
    venv/

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring