Django~=4.1.4
pytz~=2022.6
APScheduler~=3.9.1.post1
requests~=2.28.1
boto3~=1.26.27
jmespath~=1.0.1
dnspython~=2.2.1
idna~=3.4
Pillow~=9.3.0
botocore~=1.29.27
s3transfer~=0.6.0
asgiref~=3.5.2
sqlparse~=0.4.3
psycopg2-binary~=2.9.5
certifi~=2022.12.7
tzlocal~=4.2
six~=1.16.0
python-dateutil~=2.8.2
urllib3~=1.26.13
eventlet~=0.33.2
greenlet~=2.0.1
packaging~=22.0
setuptools~=65.6.3
python-dotenv~=0.21.0
django-allow-cidr~=0.5.0
pytest~=7.3.1
pytest-django~=4.5.2
pytest-mock~=3.10.0
requests-mock~=1.10.0