<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 footer-info">
                    <h3>Indianapolis Center</h3>
                    <p>This website is for a group of online hobbyists who partake in simulated flying and air traffic control on the VATSIM network. The procedures we use mirror, to the greatest extent possible, those utilized by real world air traffic control. At no time, however, should a procedure, chart, or other information contained on this website be used for real world navigation.</p>
                </div>

                <div class="col-lg-4 col-md-4 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="https://www.zidtraining.org/">Training</a></li>
                        <li><a href="#">Leave Feedback</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">IDS</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 footer-contact">
                    <h4>About vZID</h4>
                    <p>The vZID ARTCC is a part of the Northeast division of VATUSA, a division of VATSIM.<br />
                       For more information about joining VATSIM, visit below:<br />
                       <a href="https://www.vatusa.net/">VATUSA</a> | <a href="https://www.vatsim.net/">VATSIM</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <script>document.write( new Date().getFullYear() );</script> vZID ARTCC. All rights reserved.
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>