{% load static %}

<meta charset="utf-8">
<meta name="description" content="The official website of the vZID ARTCC.">
<meta name="keywords" content="VATSIM,VATUSA,ZID,vZID,Indianapolis,Columbus,Dayton,Cincinnati,Louisville,Indianapolis ARTCC,Virtual Air Traffic Control,Virtual ATC">
<meta name="author" content="Nick Allen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page_title|default:'Untitled' }} | Indy Center</title>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "vendor/icofont/icofont.min.css" %}" rel="stylesheet">
<link href="{% static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
<link href="{% static "vendor/venobox/venobox.css" %}" rel="stylesheet">
<link href="{% static "vendor/line-awesome/css/line-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
<link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">
{% comment %} <link href="{% static "vendor/font-awesome/font-awesome.css" %}" rel="stylesheet"> {% endcomment %}

<!-- Primary CSS File -->
<link href="{% static "css/style.css" %}" rel="stylesheet">

<!-- Vendor JS Files -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/jquery.easing/jquery.easing.min.js" %}"></script>
<script src="{% static "vendor/php-email-form/validate.js" %}"></script>
<script src="{% static "vendor/waypoints/jquery.waypoints.min.js" %}"></script>
<script src="{% static "vendor/counterup/counterup.min.js" %}"></script>
<script src="{% static "vendor/venobox/venobox.min.js" %}"></script>
<script src="{% static "vendor/owl.carousel/owl.carousel.min.js" %}"></script>
<script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
<script src="{% static "vendor/aos/aos.js" %}"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}

<!-- Primary JS File -->
<script src="{% static "js/main.js" %}"></script>