{% load static %}
{% load extras %}

<header id="header" class="fixed-top">
    <div class="container d-flex">
        
        <div class="logo mr-auto">
            {% comment %} <h1 class="text-light"><a href="/">Indianapolis ARTCC</a></h1> {% endcomment %}
            <a href="/"><img src="{% static "img/indy_ext.png" %}" alt="" class="img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="drop-down"><a href="#">Pilots</a>
                    <ul>
                        <li><a href="/pilot-briefing">Pilot Briefing</a></li>
                        <li><a href="/routes">Preferred Routes</a></li>
                        <li><a href="/request-event-staffing">Request Event Staffing</a></li>
                    </ul>
                </li>

                <li class="drop-down"><a href="#">Controllers</a>
                    <ul>
                        <li {% if request.user_obj.is_staff %} class="drop-down" {% endif %}>
                            <a href="/roster">Roster</a>
                            {% if request.user_obj.is_staff %}
                            <ul>
                                <li><a href="/mavp">Manage MAVPs</a></li>
                                <li><a href="/visit-request/manage">Manage Visit Requests</a></li>
                            </ul>
                            {% endif %}
                        </li>
                        <li><a href="/staff">Staff</a></li>
                        {% if request.user_obj %}<li {% if request.user_obj.is_staff %} class="drop-down" {% endif %}><a href="/files">Files</a>
                            {% if request.user_obj.is_staff %}
                            <ul>
                                <li><a href="/files/add">Add File</a></li>
                            </ul>
                            {% endif %}
                        </li>{% endif %}
                        <li><a href="/statistics">Controller Statistics</a></li>
                        <li {% if request.user_obj.is_staff %} class="drop-down" {% endif %}>
                            <a href="/events">Events</a>
                            {% if request.user_obj.is_staff %}
                            <ul>
                                <li><a href="/events/new">New Event</a></li>
                                <li><a href="/events/archived">Archived Events</a></li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                </li>

                <li><a href="#">Feedback</a></li>
                {% if request.session.vatsim_data %}
                    <li class="drop-down"><a href="#">{{ request.session.vatsim_data.firstname }} {{ request.session.vatsim_data.lastname }}</a>
                        <ul>
                            {% if request.user_obj %}
                            <li><a href="/profile/{{ request.user_obj.cid }}">Profile</a></li>
                            {% else %}
                            <li><a href="/visit-request/">Become a Visitor</a></li>
                            {% endif %}
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                {% else %}
                <li class="get-started"><a href="https://login.vatusa.net/uls/v2/login?fac=ZID&url={% uls_redirect_url %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>