{% load static %}

<header id="header" class="fixed-top">
    <div class="container d-flex">
        
        <div class="logo mr-auto">
            {% comment %} <h1 class="text-light"><a href="/">Indianapolis ARTCC</a></h1> {% endcomment %}
            <a href="/"><img src="{% static "img/indy_ext.png" %}" alt="" class="img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="drop-down"><a href="#">Pilots</a>
                    <ul>
                        <li><a href="/pilot-briefing">Pilot Briefing</a></li>
                        <li><a href="/routes">Preferred Routes</a></li>
                        <li><a href="/request-event-staffing">Request Event Staffing</a></li>
                    </ul>
                </li>

                <li class="drop-down"><a href="#">Controllers</a>
                    <ul>
                        <li><a href="/roster">Roster</a></li>
                        <li><a href="/staff">Staff</a></li>
                        <li><a href="/files">Files</a></li>
                        <li><a href="/statistics">Controller Statistics</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </li>

                <li><a href="#">Feedback</a></li>
                {% if request.session.vatsim_data %}
                    <li class="drop-down"><a href="#">{{ request.session.vatsim_data.firstname }} {{ request.session.vatsim_data.lastname }}</a>
                        <ul>
                            <li><a href="#">Profile</a></li>
                        </ul>
                    </li>
                {% else %}
                <li class="get-started"><a href="https://login.vatusa.net/uls/v2/login?fac=ZID&url=5">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>