{% extends 'mainTemplate.html' %}
{% load static %}
{% load extras %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li>Controller Statistics</li>
{% endblock %}

{% block body %}
<section id="about" class="about">
    <div class="container">
        <div class="row m-3 pt-3">
            <h3>Controller Statistics - Month of {{ month }} {{ year }}</h3>
        </div>

        <div class="row m-3">
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="width:10%">Rating</th>
                <th scope="col" style="width:25%">Total Time</th>
            </tr>
            {% for cont in stats %}
            <tr>
                <td>
                {{ cont.user__first_name }} {{ cont.user__last_name }}
                </td>
                <td>{{ cont.user__rating }}</td>
                <td>{{ cont.duration|format_duration }}
            </tr>
            {% endfor %}
            </thead>
        </table>
        </div>
    </div>
  </div>
</section>
{% endblock %}