{% extends 'mainTemplate.html' %}
{% load static %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li>{{ heading }}</li>
{% endblock %}

{% block body %}
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ heading }}</h3>
            </div>
            {% if request.user_obj.is_staff %}
            <div class="col">
                <h3 style="text-align:right">
                    <a href="/events/new"><i class="icofont-plus"></i> Add Event</a>
                </h3>
            </div>
            {% endif %}
        </div>

        {% for e in events %}
        <div class="row portfolio-container">
            <div class="col-12 portfolio-item filter-app">
                <a href="/events/{{ e.id }}"><img src="{{ e.banner }}" alt="" width="100%" /></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}