{% extends 'mainTemplate.html' %}
{% load static %}
{% load extras %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/training">Training Hub</a></li>
<li>Ticket Details</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row m-3 pt-3">
        <h3>Training Ticket Details for {{ student.full_name }} ({{ ticket.position }})</h3>
    </div>

    <div class="row m-3">
        <p>
            Instructor: {{ instructor.full_name }}<br />
            Session Date: {{ ticket.session_date }}<br />
            Duration: {{ ticket.duration }}<br /><br />
            Number of Aircraft Movements: {{ ticket.movements }}<br />
            Session Score: {{ ticket.score|training_score_display }}<br />
            Session Location: {{ ticket.position }}<br />
            OTS Status: {{ ticket.ots_status|ots_display }}<br />
            Solo Granted: {{ ticket.solo_granted }}<br /><br />
            Notes: {{ ticket.notes }}
        </p>
    </div>
    {% if request.user_obj.is_staff %}
    <div class="row m-3">
        <p><a href="/training">Return to Training Hub</a></p>
    </div>
    {% endif %}
</div>
{% endblock %}
