{% load static %}

<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info_detail">
                    <h4>Notice</h4>
                    <p>This website is for a group of online hobbyists who partake in simulated flying and air traffic control on the VATSIM network. The procedures we use mirror, to the greatest extent possible, those utilized by real world air traffic control. At no time, however, should a procedure, chart, or other information contained on this website be used for real world navigation.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info_link_box">
                    <h4>Quick Links</h4>
                    <div class="info_links">
                        <a href="/"><img src="{% static "hostit/img/nav-bullet.png" %}" alt="">Home</a>
                        <a href="https://academy.vatusa.net/my/"><img src="{% static "hostit/img/nav-bullet.png" %}" alt="">Training</a>
                        <a href="https://docs.zidartcc.org/"><img src="{% static "hostit/img/nav-bullet.png" %}" alt="">Indy Library</a>
                        <a href="https://github.com/zid-wm/zid-web/issues/new/choose"><img src="{% static "hostit/img/nav-bullet.png" %}" alt="">Report a Bug</a>
                        <a href="/privacy-policy"><img src="{% static "hostit/img/nav-bullet.png" %}" alt="">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info_detail">
                    <h4>About vZID</h4>
                    <p>The vZID ARTCC is a member of VATUSA, a division of VATSIM. For more information about joining VATSIM, please visit below:<br /><a href="https://www.vatusa.net">VATUSA</a> | <a href="https://www.vatsim.net">VATSIM</a></p>
                </div>
            </div>
        </div>
    </div>
</section>