{% extends 'mainTemplate.html' %}
{% load static %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li>Pilot Briefing</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row m-3 pt-3">
        <h3>Pilot Briefing</h3>
    </div>

    <div class="row m-3">
        <h5>Welcome to Indianapolis Center!</h5>
        <p>Indianapolis Center (frequently referred to as "Indy Center") is one of 22 Air Route Traffic Control Centers in the United States. ZID is the 12th busiest ARTCC in the US and includes one class B airport, 7 class C airports, and 16 class D airports.<br />
        We invite you to browse the following information so that you are fully prepared for flying in ZID airspace.</p>
    </div>

    <div class="row m-3">
        <h5>Our Primary Airports</h5>
    </div>
    <div class="row m-3">
        <h6><strong>Cincinnati</strong></h6>
        <p>
            Once a long-time hub for Delta Air Lines, KCVG has recently seen rebirth as a major cargo hub for both Amazon Air and DHL. Situated just south of the Ohio River in Covington, KY, KCVG has three parallel north/south runways and a perpendicular runway primarily used for departures. Space formerly occupied by Delta terminals has been converted into cargo parking, leading the way for major growth in cargo operations.<br />
            The western-most runway (Runway 18R/36C) was completed in 2006 and as a result, many pilots do not have it in their default scenery. We highly recommend finding one of the many free or paid options available to add this, especially if planning to fly at an event.<br />
            Calm-wind flow at KCVG utilizes runways 18L and 18C for arrivals and runway 27 for departures. Runway 18R/36L is not typically used outside of events.
        </p>
        <h6><strong>Louisville</strong></h6>
        <p>
            Louisville-Muhammad Ali Airport (KSDF) is the home of Worldport, the international hub of UPS. Its IATA code, SDF, comes from the airport's former name, Standiford Field.<br />
            The field has two primary parallel runways which serve the majority of traffic. A third runway (Runway 11/29) crosses at midfield, between the UPS ramps and the passenger terminal. This runway is unidirectional--Runway 11 is not authorized for any normal use.<br />
            Calm-wind flow at KSDF utilizes runways 17L and 17R for simultaneous departures and arrivals.
        </p>
        <h6><strong>Indianapolis</strong></h6>
        <p>
            Indianapolis International Airport (KIND) serves as the second-largest hub for FedEx Express, and is also the home of Republic Airways, a regional carrier providing connectivity for all three major US airlines (American, Delta, and United). The Indianapolis ARTCC is located on airport property, on the northwest corner of the field.<br />
            Runways 5L/23R and 5R/23L serve the bulk of KIND traffic, with a shorter cross runway located on the north end of the field near the GA ramps. The FedEx cargo facility is located to the south of runway 5R/23L.<br />
            In 2008, a midfield passenger terminal was completed to replace the aging northeast terminal. Many pilots do not have this midfield terminal as part of their default scenery. We request that arriving traffic notify the ground controller as to which terminal they need to taxi to.<br />
            Calm-wind flow at KIND utilizes runways 23L and 23R for simultaneous departures and arrivals.
        </p>
        <h6><strong>Columbus</strong></h6>
        <p>
            In 2012, the FAA consolidated the Columbus and Dayton TRACONs, moving operations for both airports to the Columbus tower. This means that controllers signed on as CMH_APP or CMH_DEP provide services to both Class C airports as well as any airports in the vicinity of the Columbus, OH and Dayton, OH areas.<br />
            The John Glenn Columbus International Airport (KCMH) has two parallel runways (10L/28R and 10R/28L). In 2013, to allow for simultaneous arrivals to both parallel runways, runway 10R/28L was moved further south. Many default scenery packages do not reflect this; consider finding a free or paid scenery add-on. If you do not have the updated location of Runway 10R/28L, please inform the approach controller on initial contact.<br />
            Calm-wind flow at KCMH utilizes runways 28L and 28R for simultaneous departures and arrivals. Calm-wind flow at KDAY utilizes runways 24L and 24R for simultaneous departures and arrivals.
        </p>
    </div>
</div>
{% endblock %}