<head>
    <style>
        p, body {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://zid-files.s3.amazonaws.com/img/indy_ext.png" alt="Indianapolis Center Logo" width="315" height="121" />
    <p>{{body|linebreaks}}</p>
    <p>----------</p>
    <p>This message was sent on behalf of {{ sender }} by the vZID ARTCC. </p>
    <p><i>For entertainment purposes only. Do not use for real-world purposes. vZID ARTCC is a part of the VATSIM network.</i></p>
    <p><i>If you believe you have received this email in error, please contact the vZID Webmaster at <a href="mailto:wm@zidartcc.org">wm@zidartcc.org</a>.</i></p>
</body>
