<head>
    <style>
        p, body {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://zid-files.s3.amazonaws.com/img/indy_ext.png" alt="Indianapolis Center Logo" width="315" height="121" />
    <h3>ZID Visiting Application Denied</h3>
    <p>We apologize that the vZID ARTCC is unable to approve your visiting request at this time. Please ensure that you meet all requirements in the <a href="https://www.vatsim.net/documents/transfer-and-visiting-controller-policy">VATSIM Transfer and Visiting Controller Policy</a>.</p>
    <p>If you would like to inquire about the reason for your application's denial, please email <a href="mailto:datm@zidartcc.org">datm@zidartcc.org</a>.</p>
    <p>Sincerely,<br />The vZID ARTCC</p>
</body>