<head>
    <style>
        p, body {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://zid-files.s3.amazonaws.com/img/indy_ext.png" alt="Indianapolis Center Logo" width="315" height="121" />
    <p>Hello,</p>
    <p>You are receiving this message because you have failed to meet the controlling hour requirement for the month of {{ month }}, as described in the ZID ARTCC General SOP.</p>
    <p>If you do not meet the minimum controller requirements, you may be subject to removal from the ARTCC roster. You can check your total hours for the month by accessing your profile on <a href="https://www.zidartcc.org/">zidartcc.org</a>.</p>
    <p>If you feel that you have received this email in error, please contact <a href="mailto:datm@zidartcc.org">datm@zidartcc.org</a>.</p>
    <p>----------</p>
    <p>This is an automated message sent by the vZID ARTCC.</p>
    <p><i>For entertainment purposes only. Do not use for real-world purposes. vZID ARTCC is a part of the VATSIM network.</i></p>
    <p><i>If you believe you have received this email in error, please contact the vZID Webmaster at <a href="mailto:wm@zidartcc.org">wm@zidartcc.org</a>.</i></p>
</body>
