<head>
    <style>
        p, body {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://zid-files.s3.amazonaws.com/img/indy_ext.png" alt="Indianapolis Center Logo" width="315" height="121" />
    <h3>New Event Request</h3>
    <p>Requester: {{ requester_name }}</p>
    <p>Contact Email: {{ requester_email }}</p>
    <p>Organization: {{ requester_org }}</p>
    <p>Event Description: {{ description }}</p>

    <p>----------</p>
    <p>This is an automated email sent by the vZID ARTCC because a new event request was submitted. </p>
    <p><i>For entertainment purposes only. Do not use for real-world purposes. vZID ARTCC is a part of the VATSIM network.</i></p>
    <p><i>If you believe you have received this email in error, please contact the vZID Webmaster at <a href="mailto:wm@zidartcc.org">wm@zidartcc.org</a>.</i></p>
</body>