{% load static %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include 'partials/head.html' %}
    </head>
    <body>
        <div class="home-wrapper">
            {% include 'partials/navbar.html' %}

            <section id="hero">
                <div class="hero-container" data-aos="fade-up">
                    <h1>Welcome to Indianapolis Center</h1>
                    <h2>Pilots, start your engines!</h2>
                </div>
            </section>

            {% include 'partials/footer.html' %}
    </body>
</html>