<head>
    <style>
        p, body {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://zid-files.s3.amazonaws.com/img/indy_ext.png" alt="Indianapolis Center Logo" width="315" height="121" />
    <h3>New Visit Request</h3>
    <p>This email is to notify you that a new visit request has been submitted on the ZID ARTCC website.</p>
    <p><b>Name:</b> {{ requester_name }}</p>
    <p><b>Comments:</b> {{ description }}</p>
    <p><a href="https://zidartcc.org/visit-request/manage/">Click Here to Manage Visit Requests</a></p>
</body>