<head>
    <style>
        p, body {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://zid-files.s3.amazonaws.com/img/indy_ext.png" alt="Indianapolis Center Logo" width="315" height="121" />
    <h3>Welcome to ZID!</h3>
    <p>Congratulations {{ user__first_name }}! Your visiting application to the Indianapolis ARTCC has been accepted!</p>
    <p>**Add instructions going forward**</p>
    <p>Sincerely,<br />{{ approver_name }}</p>
</body>